<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="stylesheets/main.css" rel='stylesheet' type="text/css">
    
    <title>Cars</title>
</head>

<body>
<% cars.forEach(function(car){ %>
    <div class='cars_board'>
    <div class='nap'>
    <h1 class="car_model"><%=car.model%></h1>
    <h2 class="car_price">$<%=car.price%></h>
    </div>
    <img src='<%=car.photo%>' alt='CAR <%=car.model%> '>
    </div>
  <% }); %>
</body>


</html>
